<h1>Cześć, Potwierdź email</h1>

<p>
    W celu weryfikacji potwierdź swój Adres email: <br><br>
    <a href="{{ signedUrl }}">POTWIERDŹ</a>.
    Link wygaśnie za: {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Dzięki
</p>
