{% extends 'base.html.twig' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block body %}
    <h1>Zresetuj hasło</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Zresetuj hasło</button>
    {{ form_end(resetForm) }}
{% endblock %}
