* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center
}

/*navbar*/
.nav-bg-color {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.nav-logged-bg {
    background-color: #dcf828;
}

/*header*/

header .hero-img {
    height: 100vh;
    background-image: url("../images/zawody.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.test {
    background-color: yellowgreen;
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #101214 3px solid;
    border-radius: 10px;
    background-color: #0a58ca;
    overflow: auto;
    padding: 0 150px;
}

.quiz-item {
    background-color: tomato;
    border: #0a0a0a 5px solid;
    border-radius: 20px;
    width: 80%;
    height: 20%;
    margin: 10px;
    font-size: 30px;
}

.description {
    text-align: center;
    font-size: 24px;
}