* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center
}

/*navbar*/
.nav-bg-color {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.nav-logged-bg {
    /*background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);*/
}

.navbar {
    border-bottom: 3px solid rgba(0,0,0,0.7);
    border-radius: 0 0 20px 20px;
}

/*header*/

.hero-img {
    position: relative;
    height: 50vh;
    border-radius: 20px;
    background-image: url("../images/jobs3.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: 1;
}

.hero-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0,0,0,.6);
    z-index: -2;
}

.hero-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    height: 100%;
    z-index: 2;
}

.test {
    background-color: yellowgreen;
}

.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #101214 3px solid;
    border-radius: 10px;
    background-color: #0a58ca;
}

.quiz-item {
    background-color: tomato;
    border: #0a0a0a 5px solid;
    border-radius: 20px;
    width: 80%;
    margin: 10px;
    font-size: 30px;
}

.description {
    text-align: center;
    font-size: 24px;
}

.no-decoration {
    text-decoration: none;
}

.highlight-text {
    color: #cf84ec;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: 4px 4px 9px rgba(61, 187, 237, 1);
}

.highlight-text-a-little {
    color: #3c2ff6;
    font-size: 1.5rem;
}

.rm-dots {
    list-style-type: none;
}

.result-div {
    border-radius: 40px;
    box-shadow: 25px 25px 17px -10px rgba(66, 68, 90, 1);
}

.bg-table {
    background-color: #daef52;
}