<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Strona Glowna!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('js/app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="app">
            <Navbar></Navbar>
            <Example></Example>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
