<form method="post" action="{{ path('quizContent_delete', {'id': quizContent.id}) }}" onsubmit="return confirm('Czy napewno chcesz usunąć ten element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quizContent.id) }}">
    <button class="btn">Delete</button>
</form>
