{% extends 'base.html.twig' %}

{% block title %}
    Strona główna
{% endblock %}

{% block body %}
    <p class="text-center fw-bold fs-5 my-5">Aplikacja została stworzona do pomocy wybrania zawodu. Działa na zasadzie takiej, że Osoba podchodzi do Quizu
        (stworzonego na podstawie <a href="https://en.wikipedia.org/wiki/Holland_Codes" target="_blank">testów Hollanda</a>),
        dzięki czemu poznaje swoje 3 typy osobowości (I w ilu procentach należy do tego typu) pośród 6 głównych typów wyznaczonych przez Hollanda:</p>
    <ul class="text-center fw-bold fs-5 my-5 rm-dots">
        <li>Typ realistyczny / praktyczny</li>
        <li>Typ badawczy</li>
        <li>Typ artystyczny</li>
        <li>Typ społeczny - socjalny</li>
        <li>Typ przedsiębiorczy</li>
        <li>Typ konwencjonalny</li>
    </ul>
    <p class="text-center fw-bold fs-5 my-5">
        Dzięki poznaniu typu osobowości możemy zaproponować tej osobie jakiego typu zawody pasują do niego i podać przykładowe, dzięki czemu
        ta osoba może zmniejszyć zakres zawodów, i wybrać bardziej pasujący do siebie.
    </p>

    <p class="text-center fw-bold fs-5 my-5">
        Aplikacja została stworzona w celu realizacji pracy Inżynierskiej o temacie "Aplikacja webowa do wspomagania wyboru zawodu przez uczniów".
    </p>
    <h2 class="text-center fw-bold">Social Media</h2>
    <div class="d-flex align-items-center justify-content-evenly">
        <a href="https://github.com/biter0o1" target="_blank"><i class="fa-brands fa-github fa-10x"></i></a>
        <a href="https://www.linkedin.com/in/pawe%C5%82-z-960774224/" target="_blank"><i class="fa-brands fa-linkedin fa-10x"></i></a>
    </div>






{% endblock %}

