{% extends 'base.html.twig' %}

{% block title %}
    Strona główna
{% endblock %}

{% block body %}
    <p class="text-center fw-bold fs-5 my-5">Aplikacja została stworzona na podstawie testów Holland. Pomagają one w wyborze zawodu poprzez określenie preferencji
        zawodowych użytkownika poprzez rozpoznianie typu osobowości. Testy Hollanda opierają się na teorii Johna Hollanda, amerykańskiego naukowca, który twierdzi,
        że ludzie są predysponowani do poszczególnych zawodów przez swoją osobowość oraz różne czynniki związane z ich otoczeniem.
        Aplikacja ta polega na przeprowadzeniu serii pytań i analizie odpowiedzi, które pomagają określić pasujące do ciebie typy preferencji
        zawodowych oraz odpowiadające im środowiska pracy. Wynik testu może pomóc użytkownikowi znaleźć zawód,
        który odpowiada jego indywidualnym preferencjom i pozwala mu na rozwój jego talentów.</p>
    <p class="text-center fw-bold fs-5 my-5">John Holland wyróżnia 6 głównych typów osobowości:</p>
    <ul class="text-center fw-bold fs-5 my-5 rm-dots">
        <li>Typ realistyczny / praktyczny</li>
        <li>Typ badawczy</li>
        <li>Typ artystyczny</li>
        <li>Typ społeczny - socjalny</li>
        <li>Typ przedsiębiorczy</li>
        <li>Typ konwencjonalny</li>
    </ul>
    <p class="text-center fw-bold fs-5 my-5">
        Dzięki poznaniu typu osobowości możemy zaproponować tej osobie jakiego typu zawody pasują do niego i podać przykładowe, dzięki czemu
        ta osoba może zmniejszyć zakres zawodów, i wybrać bardziej pasujący do siebie.
    </p>

    <p class="text-center fw-bold fs-5 my-5">
        Aplikacja została stworzona w celu realizacji pracy Inżynierskiej o temacie "Aplikacja webowa do wspomagania wyboru zawodu przez uczniów".
    </p>
    <h2 class="text-center fw-bold">Social Media</h2>
    <div class="d-flex align-items-center justify-content-evenly m-5">
        <a href="https://github.com/biter0o1" target="_blank"><i class="fa-brands fa-github fa-10x"></i></a>
        <a href="https://www.linkedin.com/in/pawe%C5%82-z-960774224/" target="_blank"><i class="fa-brands fa-linkedin fa-10x"></i></a>
    </div>






{% endblock %}

