{% extends 'base.html.twig' %}

{% block title %}
    Strona główna
{% endblock %}

{% block body %}
    <h1 class="fw-bold my-5">Poznaj Swój Zawód!</h1>
    <p class="text-center fw-bold fs-5 my-5">Zastanawiałeś się jaki zawód wybrać? Dzięki tej aplikacji będziesz mógł poznać
        swoją osobowość oraz dowiedzieć się jakie zawody do Ciebie pasują! Wystarczy wypełnić Quiz.</p>

    <header>
        <a class="no-decoration" href="{{ path('quiz_index') }}">
            <div class="hero-img">
                <div class="hero-shadow"></div>
                <div class="hero-text">
                    <h2 class="text-center m-5">Naciśnij Tutaj aby podejść do <span class="highlight-text">Quizu</span></h2>

                </div>
            </div>
        </a>
    </header>

{% endblock %}

